.renderedCapsulesContainer {
  background-color: var(--americanBronze);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.renderedCapsulesContainer h1 {
  color: var(--bisque);
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 700;
}

.capsulesCardsContainer {
  /* border: solid 2px white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50rem;
  overflow-y: scroll;
  padding: 0.8rem 0;
}

.capsulesCardsContainer::-webkit-scrollbar {
  width: 0.2rem;
}

.capsulesCardsContainer::-webkit-scrollbar-thumb {
  background: var(--bisque);
}

.eachCapsuleCard {
  background-color: var(--fawn);
  border-radius: 5px 17px;
  display: flex;
  align-items: center;
  width: 23rem;
  margin: 0.8rem 0;
  text-decoration: none;
  padding: 0.8rem;
}

.eachCapsuleCard img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.eachCapsuleCardContainer1 {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.eachCapsuleCardContainer1 h2 {
  color: var(--americanBronze);
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.1rem;
}

.eachCapsuleCardContainer1 h3 {
  color: var(--brown);
  font-size: 1.05rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.eachCapsuleCardContainer1 h4 {
  color: var(--philippineBronze);
  font-size: 1rem;
  margin-bottom: 0;
}

.eachCapsuleCardContainer1-1 {
  border: solid 2px green;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.eachCapsuleCardContainer1-1-1 {
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.eachCapsuleCardContainer1-1-2 {
  border: solid 2px pink;
  display: flex;
  flex-direction: column;
  width: 50%;
}