@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --rootBeer: #1C0A00;
  --americanBronze: #361500;
  --philippineBronze: #603601;
  --brown: #8E3200;
  --mediumCarmine: #A64B2A;
  --peru: #CC9544;
  --fawn: #D7A86E;
  --bisque: #FFEBC1;
  --antiqueWhite: #F8ECD3;
  --btnDisabled: #F8ECD396;
  --attentionBtn: #EC8383;
}

html {
  font-size: 10px;
  background-color: var(--americanBronze);
}

/* https://www.color-name.com/ */
/* https://www.rapidtables.com/web/color/RGB_Color.html */
