.homePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.homePageMain {
  background-color: var(--mediumCarmine);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.homePageMain h1 {
  color: var(--bisque);
  width: fit-content;
  font-size: 1.8rem;
  font-weight: 700;
}