@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}

.searchMethodsContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: 1.5rem 0;
  padding: 1.3rem;

  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
}

.searchMethodsRdBtnsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
  margin-bottom: 1.5rem;
}

.searchMethodsRdBtns {
  color: var(--antiqueWhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
}

#searchByNameInput, #searchByFiltersInput {
  margin-right: 0.5rem;
}

input[type="radio"] {
  appearance: none;
  background-color: var(--antiqueWhite);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.4rem;
  height: 1.4rem;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  background-color: var(--philippineBronze);
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}