.searchBarContainer {
  /* border: solid 2px gray; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
}

.css-b62m3t-container {
  width: 75% !important;
}

.css-1s2u09g-control, .css-1pahdxg-control {
  background-color: var(--mediumCarmine) !important;
  border-color: var(--bisque) !important;
  box-shadow: none !important;
}

.css-qc6sy-singleValue {
  color: var(--antiqueWhite) !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

#react-select-2-listbox, .css-26l3qy-menu {
  background-color: var(--fawn) !important;
  color: var(--philippineBronze);
  font-weight: 700;
}

#react-select-2-placeholder, .css-14el2xx-placeholder {
  color: var(--antiqueWhite) !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  opacity: 0.5 !important;
}

.searchBarContainer button {
  background-color: var(--mediumCarmine);
  border: none;
  display: flex;
  justify-content: center;
}

.searchBarContainer svg {
  color: var(--antiqueWhite);
  font-size: 1.3rem;
}