.capsuleDetailsPage {
  border: solid 2px green;
}

.capsuleDetailsMain {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capsuleDetailsContainer1 {
  border: solid 2px red;
  display: flex;
  width: 100%;
}